.footer__btn-subscribe, .footer__form-box, .portfolio__overlay, .filter__list, .company__item, .company__list, .socials__item, .socials__list, .works__overlay, .advantages__image, .form__close-button, .form__button, .form__checkbox-icon {
.portfolio__overlay, .filter__list, .works__overlay, .form__close-button, .form__button, .form__checkbox-icon, .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__label, .team__item, .form, .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company__image, .socials__icon, .form__close-icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  color: #757575;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--no-padding {
  padding: 0;
}

.section--no-padding-bottom {
  padding-bottom: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  height: 80px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mobile-menu {
  width: 40px;
  height: 40px;
  position: relative;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
}

.menu-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mobile-menu .icon-close {
  display: none;
}

.mobile-menu.is-open .icon-close {
  display: block;
}

.mobile-menu.is-open .icon-menu {
  display: none;
}

.nav__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 53px;
}
.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link {
  position: relative;
}
.nav__link:hover, .nav__link:focus {
  color: #2196F3;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.contacts__item:hover {
  color: #2196F3;
}

.contacts__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
}

.contacts__icon--mail {
  width: 16px;
  height: 12px;
}
.contacts__icon--tel {
  width: 10px;
  height: 16px;
}

.nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}

@media screen and (max-width: 480px) {
  .header__container {
    height: 60px;
  }
  .nav__list {
    display: none;
  }
  .contacts {
    display: none;
  }
}
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}
.logo--highlighted {
  color: #2196F3;
}

.footer__logo--highlighted {
  color: #FFFFFF;
}

.hero {
  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  margin: 0 auto;
  gap: 30px;
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/main/heroimage.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/heroimage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__title {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
}
.hero__subtitle {
  display: block;
  color: #FFFFFF;
  font-size: 44px;
  line-height: 1.4;
}

.hero__button {
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  min-width: 216px;
  background-color: #2196F3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 4px 4px 6px -2px rgba(0, 0, 0, 0.7);
          box-shadow: 4px 4px 6px -2px rgba(0, 0, 0, 0.7);
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  padding: 40px;
  row-gap: 10px;
  background-color: #FFFFFF;
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  position: relative;
}
.form__title {
  font-size: 14px;
  font-weight: 700;
  color: #212121;
  letter-spacing: 0.03em;
}
.form__label {
  font-size: 12px;
  color: #757575;
  letter-spacing: 0.01em;
}
.form__link {
  color: #2196F3;
}
.form__textarea {
  resize: none;
}

.form__label--comment {
  font-size: 12px;
  color: #757575;
  letter-spacing: 0.01em;
}

.form__input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover, .form__input:focus {
  border-color: #2196F3;
  outline: none;
  fill: #2196F3;
}
.form__input:focus + .form__icon {
  fill: #2196F3;
}

.form__textarea {
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea:focus {
  border-color: #2196F3;
  outline: none;
}
.form__textarea::-webkit-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}
.form__textarea::-moz-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}
.form__textarea:-ms-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}
.form__textarea::-ms-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}
.form__textarea::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__icon:hover {
  fill: #2196F3;
}

.form__checkbox {
  padding-top: 10px;
  padding-bottom: 20px;
}

.form__checkbox-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.form__label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #757575;
  letter-spacing: 0.03em;
  cursor: pointer;
  line-height: 1.2;
  gap: 7px;
}

.form__checkbox-icon {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  fill: transparent;
  margin-top: -1px;
}

.form__checkbox-input:checked + .form__checkbox-icon {
  border-color: #2196F3;
  background-color: #2196F3;
  background-origin: border-box;
  fill: #FFFFFF;
}

.form__button {
  border-radius: 4px;
  border: none;
  padding: 0;
  min-width: 200px;
  height: 50px;
  background-color: #2196F3;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.form__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.form__close-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__close-icon:hover {
  fill: #2196F3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 48, 58, 0.5);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.1);
          transform: translate(-50%, -50%) scale(0.1);
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 270px;
}

.advantages__image {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 5px;
  margin-bottom: 30px;
}

.advantages__icon--size {
  width: 70px;
  height: 70px;
}

.advantages__title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
}

.advantages__text {
  font-size: 14px;
  line-height: 1.7;
}

.works__title {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  gap: 30px;
}

.works__image {
  display: block;
  z-index: 1;
}

.works__overlay {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.works__label {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team {
  width: 100%;
  background-color: #F5F4FA;
}

.team__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.team__item {
  overflow: hidden;
  width: 270px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 7px 7px;
  border-top: 0;
  background-color: #FFFFFF;
}

.team__label {
  padding: 16px 0;
  gap: 10px;
}

.card__title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
}

.card__text {
  font-size: 16px;
}

.socials__list {
  width: 270px;
  padding-bottom: 30px;
  margin: 0;
}

.socials__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__item:hover, .socials__item:focus {
  background-color: #2196F3;
  border-radius: 50%;
  cursor: pointer;
}
.socials__item:hover .socials__icon, .socials__item:focus .socials__icon {
  fill: #FFFFFF;
}

.socials__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
}

.card__text {
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F5F4FA;
  }
  .team__title {
    margin-bottom: 30px;
  }
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
  .team__item {
    -webkit-box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 7px 7px;
    border-top: 0;
    background-color: #FFFFFF;
  }
  .team__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
    gap: 10px;
  }
  .socials__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 16px;
    padding-bottom: 24px;
    margin: 0;
  }
}
.company__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.company__list {
  gap: 30px;
}

.company__item {
  padding: 0;
  margin: 0;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company__item:hover, .company__item:focus {
  border-color: #2196F3;
}
.company__item:hover .company__image, .company__item:focus .company__image {
  fill: #2196F3;
}

.company__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__list {
  gap: 8px;
  margin-bottom: 56px;
}

.filter__button {
  border-radius: 4px;
  border: none;
  padding: 6px 25px;
  min-width: 73px;
  background-color: #F5F4FA;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.5);
}

.title--hidden {
  display: none;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.portfolio__item {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover {
  -webkit-box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.5);
}

.portfolio__link {
  text-decoration: none;
}

.portfolio__image {
  position: relative;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  width: 370px;
  height: 294px;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover .portfolio__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__label {
  font-size: 18px;
  color: #FFFFFF;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.portfolio__card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 24px;
  border: 1px solid #F5F4FA;
  border-top: 0;
}

.portfolio__card-title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.portfolio__card-text {
  font-size: 16px;
  line-height: 1.8;
  color: #757575;
}

.footer {
  background-color: #2F303A;
}

.footer__container {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 60px 0;
  margin: 0 auto;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 9px;
}

.footer__address {
  display: block;
  color: #FFFFFF;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer__contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 9px;
}

.footer__socials-title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
}

.footer__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 206px;
  gap: 10px;
}

.socials__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__form {
  width: 570px;
  height: 76px;
}

.footer__form-title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
}

.footer__form-input {
  width: 358px;
  height: 50px;
  padding: 16px 15px;
  margin: 0;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2F303A;
  color: rgba(255, 255, 255, 0.6);
}
.footer__form-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.footer__form-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.footer__form-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.footer__form-input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.footer__form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.footer__btn-subscribe {
  border-radius: 4px;
  border: none;
  padding: 0;
  margin-left: 12px;
  min-width: 200px;
  height: 50px;
  background-color: #2196F3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.footer__icon-subscribe {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */