
.company__title {
    color: $title-color;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

.company__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.company__item {
    @include flex-center;

    width: 100%;
    max-width: 210px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: $accent-color;

        .company__image {
            fill: $accent-color;
        }
    }

    @media screen and (min-width: $tablet) {
        width: 226px;
    }

    @media screen and (min-width: $desktop) {
        width: 170px;
    }
}

.company__image {
    height: 60px;
    @include icon-contain-center;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}