.footer {
  width: $mobile;
  margin: auto;
  background-color: #2f303a;;

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }
  
  @media screen and (min-width: $desktop) {
    width: 100%;
  } 
}

.footer--padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  @include flex-column;
  gap: 60px;

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__contacts {
  @include flex-column;
  gap: 8px;
}

.footer__contacts-box {
    display: flex;
    flex-direction: column;
    gap: 60px;
    
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row;
     gap: 165px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    gap: 70px;
    align-items: baseline;
  }
}

.footer__address {
  margin-top: 12px;

  display: block;
  color: $primary-color;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer__contacts-list {
  @include flex-column;
  gap: 8px;
}

.footer__socials-title {
  color: $primary-color;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-align: center;

  @media screen and (min-width: $desktop) {
    text-align: start;
  }

}

.footer__socials-list {
  @include flex-center;
}

.socials__item {
  @include flex-center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__form-title {
  color: $primary-color;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: center;

  margin-bottom: 20px;

  @media screen and (min-width: $desktop) {
    text-align: start;
  }
}

.contacts__link {
  display: flex;
  align-items: center;

  gap: 10px;

  color: inherit;
  font-weight: 500;
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer__form-box {
  @include flex-column;
  gap: 20px;

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
}

.footer__form-input {
  width: 450px;
  height: 50px;
  padding: 16px 15px;
  margin: 0;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2f303a;

  color: rgba(255, 255, 255, 0.6);

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }

  @media screen and (max-width: 480px) {
    .footer__form-input {
      width: 100%;
      max-width: 100%;
    }
  }
}

.footer__btn-subscribe {
  @include flex-center;
  border-radius: 4px;
  border: none;
  padding: 0;
  min-width: 200px;
  height: 50px;
  background-color: $accent-color;
  color: $primary-color;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.footer__icon-subscribe {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
