
* {
  box-sizing: border-box;

  // outline: solid 1px tomato;
}

body {
  background-color: $primary-color;
  color: $text-color;
  font-family: $font-main;
  line-height: 1.2;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (max-width: $mobile) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.section--no-padding {
  padding: 0;
}

.section--no-padding-bottom {
  padding-bottom: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media screen and (max-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
